.top-bar{
    color:#bfbfbf;
}
#ec{
    margin-top: 0 !important;
}
.mobile-menu::before{
    content: unset;
}
.mean-container a.meanmenu-reveal{
    top: -55px;
    left: 0 !important;
}
.header-bottom{
    background-color: var(--primary-color);
    border-bottom: 1px solid #eee;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.top-bar a{
    color:#bfbfbf;
}
.top-bar a:hover{
    color: #dd3333;
}
.top-information-wrap{
    display: flex;
    flex-wrap: wrap;
}
.top-information-wrap li i{
    padding-right: 5px;
}
.top-information-wrap li, ul.social-media-wrap li {
    border-right: 1px solid #355370;
    padding-right: 15px;
    margin-right: 10px;
}
.top-information-wrap li:last-child, ul.social-media-wrap li:last-child {
    padding:0;
    margin:0;
    border:none;
}
/*    social media  */
ul.social-media-wrap {
    display: flex;
    flex-wrap: wrap;
}
.logo p{
    color: #dd3333;
}
.logo h2{
    font-size: 43px;
    color: #dd3333;
}
/* page header  */
.banner-content{
    text-align: center;
}

.content-wraper{
    text-align: center;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 14px;
    margin-bottom: 15px;
}
.content-wraper i{
    font-size: 50px;
    color: var(--primary-color);
}
.content-wraper h3{
    font-size: 28px;
    text-transform: capitalize;
    padding: 10px 0;
}
.section-area{
    text-align: center;
    margin-bottom: 35px;
}
.section-title{
    border-bottom: 1px solid #dadada;
    display: inline-block;
    margin: 10px auto -2px;
}
.divider-center{
    height: 4px;
    width: 70px;
    background: var(--primary-color);
    display: block;
    margin: -2px auto;
}
.section-title h2{
    margin-bottom: 10px;
}
.single-brand img{
    height: 100px;
    object-fit: contain;
}
.cta-area h2{
    text-transform: capitalize;
}

.cta-area:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 85%);
}
.main-product-thumbnail .tab-content img{
    height: 300px;
    object-fit: contain;
}
.cta-wrapper {
    text-transform: capitalize;
}
.item-list{
    list-style: inside;
}
.btn2 a{
    background-color: #26272d;
}
.img-wrap{
    margin-bottom: 15px;
    text-align: center;
}
.cta-wrapper h2{
    text-transform: capitalize;
}
.about-content-wrap{
    display: flex;
    margin: 15px 0;
}
.about-icon{
    margin-right: 15px;
}
.about-content h3{
    text-transform: capitalize;
}
.about-icon img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 80px;
}
.header-menu-list>li>a.active{
    color: #000;
}
.slider-area{
    position: relative;
}
.slider-area:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.85;
}
.slider-content{
    position: unset;
    max-width: unset;
}
.bg-image-1{
    background-image: url(/Content/img/slider/slider-bg.jpg);
}
.slider-content p{
    font-size: 22px;
}
.footer-title.e-header{
    position: relative;
    padding-bottom: 15px;
}
.footer-title.e-header:before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 45px;
    background: var(--primary-color);  
}
.pro-info a.project-link{
    text-decoration: underline;
}
.pro-info a i{
    margin-left: 5px;
    transition: 0.3s ease;
}
.pro-info a:hover i{
    margin-left: 10px;
}
.pro-info a:hover{
    color: var(--primary-color)
}
.footer-logo h2{
    font-size: 44px;
}
.gallery-area .gallery img{
    height: 275px;
    object-fit: cover;
}
.clients-list{
    text-align: center;
    border: 1px solid #dee2e6;
    background-color: #fff;
    transition: 0.3s ease;
}
.clients-list:hover{
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.clients-area img{
    height: 120px;
    object-fit: cover;
}